*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
:root{
    --myColor: rgb(61, 61, 61);
}

body{
    font-family: 'Work Sans', sans-serif;
}
.main{
    
    height: 100vh;
    width: 100%;

}

.header{
     display: flex;
     flex-wrap: nowrap;
     justify-content: space-between;
 
     
}
.head{
    margin-left: 2%;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0%;
    height: 70%;
    width: 300px;
    
    
}
.head h3{
    margin-top: 25px;
    font-size: medium;
    margin-left: 12px;
    color: var(--myColor);
}

.search {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    margin-right: 2%;
    
  }
  
  .search__input {
    font-family: inherit;
    font-size: inherit;
    background-color: #f4f2f2;
    border: none;
    color: #646464;
    padding: 0.7rem 1rem;
    border-radius: 30px;
    width: 15em;
    transition: all ease-in-out .5s;
    margin-right: -2rem;
  }
  
  .search__input:hover, .search__input:focus {
    box-shadow: 0 0 1em #00000013;
  }
  
  .search__input:focus {
    outline: none;
    background-color: #f0eeee;
  }
  
  .search__input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
  }
  
  .search__input:focus + .search__button {
    background-color: #f0eeee;
  }
  
  .search__button {
    border: none;
    background-color: #f4f2f2;
    margin-top: .1em;
  }
  
  .search__button:hover {
    cursor: pointer;
  }
  
  .search__icon {
    height: 1.3em;
    width: 1.3em;
    

  }

img{
     width: 30%;
     margin: 0%;
     padding: 2px;
  }
  .navbar {
    overflow: hidden;
    background-color: #e8dfdf;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: var(--myColor);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color:  var(--myColor);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .first{
    display: grid;
    width: auto;
    align-content:space-between;
 
  }
  .wapper .slide{
    width: 70%;
    height: 100%;
    overflow: hidden;
  }
  .slide .image{
    width: 60%;
    height: 40%;
  }
  .slide .img-data{
    position: absolute;
    top: 50%;
    left: 2%;
  
  }

  .img-data ,.text{
    font-size: medium;
    font-weight: 400;
  }
  .button {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 0.9rem 2rem;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    letter-spacing: 0.05rem;
    font-weight: 700;
    font-size: 17px;
    border-radius: 500px;
    overflow: hidden;
    background: white;
    color: ghostwhite;
    text-decoration: none;
   }
   
   .button span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .button:hover span {
    color: black;
   }
   
   .button::before,
   .button::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   
  .button::before {
    content: "";
    background: red;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
    
   }
   
   .button:hover::before {
    transform: translate3d(100%, 0, 0);
   }
   


   .projects .contant {
    margin-top: 30px;
}

.project-card {
    background-color: white;
    
    border: 1px solid white;
    min-height: 14em;
    width: 80%;
    transition: 0.8s ease;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
}



.project-img img {
    width: 100%;
}

.project-card:hover .project-img {
    opacity: 0.9;
}

.project-info {
    padding: 1em;
    opacity: 0.9;
}

.cat {
    font-size: 0.8 em;
}

.project-title {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 10px;
}

