            * {
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
            
             :root {
                --myColor: rgb(61, 61, 61);
            }
            
            body {
                font-family: 'Work Sans', sans-serif;
            }
            
            .main {
                height: 100vh;
                width: 100%;
            }
            
            .header {
                display: flex;
                flex-wrap: nowrap;
                justify-content: space-between;
            }
            
            .head {
                margin-left: 2%;
                display: flex;
                justify-content: flex-start;
                margin-bottom: 0%;
                height: 70%;
                width: 300px;
            }
            
            .head h3 {
                margin-top: 25px;
                font-size: medium;
                margin-left: 12px;
                color: var(--myColor);
            }
            
            .search {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                text-align: center;
                margin-right: 2%;
            }
            
            .search__input {
                font-family: inherit;
                font-size: inherit;
                background-color: #f4f2f2;
                border: none;
                color: #646464;
                padding: 0.7rem 1rem;
                border-radius: 30px;
                width: 15em;
                transition: all ease-in-out .5s;
                margin-right: -2rem;
            }
            
            .search__input:hover,
            .search__input:focus {
                box-shadow: 0 0 1em #00000013;
            }
            
            .search__input:focus {
                outline: none;
                background-color: #f0eeee;
            }
            
            .search__input::-webkit-input-placeholder {
                font-weight: 100;
                color: #ccc;
            }
            
            .search__input:focus+.search__button {
                background-color: #f0eeee;
            }
            
            .search__button {
                border: none;
                background-color: #f4f2f2;
                margin-top: .1em;
            }
            
            .search__button:hover {
                cursor: pointer;
            }
            
            .search__icon {
                height: 1.3em;
                width: 1.3em;
            }
            
            img {
                width: 30%;
                margin: 0%;
                padding: 2px;
            }
            
            .navbar {
                overflow: hidden;
                background-color: #e8dfdf;
                display: flex;
                justify-content: space-around;
            }
            
            .navbar a {
                float: left;
                font-size: 16px;
                color: var(--myColor);
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }
            
            .dropdown {
                float: left;
                overflow: hidden;
            }
            
            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: var(--myColor);
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }
            
            .navbar a:hover,
            .dropdown:hover .dropbtn {
                background-color: red;
            }
            
            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #f9f9f9;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            
            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }
            
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            
            .dropdown:hover .dropdown-content {
                display: block;
            }
            
            .wapper .slide {
                width: 80%;
                height: 100%;
                overflow: hidden;
            }
            
            .slide .image {
                width: 80%;
                height: 40%;
            }
            
            .slide .img-data {
                position: absolute;
                top: 50%;
                left: 2%;
            }
            
            .img-data,
            .text {
                font-size: medium;
                font-weight: 400;
            }
            
            .button {
                outline: none;
                cursor: pointer;
                border: none;
                padding: 0.9rem 2rem;
                margin-bottom: auto;
                font-family: inherit;
                font-size: inherit;
                position: relative;
                display: inline-block;
                letter-spacing: 0.05rem;
                font-weight: 700;
                font-size: 17px;
                border-radius: 500px;
                overflow: hidden;
                background: white;
                color: ghostwhite;
                text-decoration: none;
                height: 50%;
            }
            
            .button span {
                position: relative;
                z-index: 10;
                transition: color 0.4s;
            }
            
            .button:hover span {
                color: black;
            }
            
            .button::before,
            .button::after {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 0;
            }
            
            .button::before {
                content: "";
                background: red;
                width: 120%;
                left: -10%;
                transform: skew(30deg);
                transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
            }
            
            .button:hover::before {
                transform: translate3d(100%, 0, 0);
            }
            
            .projects .contant {
                margin-top: 30px;
            }
            
            .project-card {
                background-color: white;
                border: 1px solid white;
                height: 80%;
                width: 95%;
                transition: 0.8s ease;
                overflow: hidden;
                border-radius: 10px;
                margin: 20px;
            }
            
            .project-img img {
                width: 100%;
            }
            
            .project-card:hover .project-img {
                opacity: 0.9;
            }
            
            .project-info {
                padding: 10px;
                opacity: 0.8;
                margin-top: -150px;
                background-color: #ddd;
                height: 40%;
            }
            
            .cat {
                font-size: 0.8 em;
            }
            
            .project-title {
                display: flex;
                justify-content: space-between;
                font-weight: 500;
                margin-top: 10px;
            }
            
            .im {
                display: flex;
                justify-content: space-evenly;
            }
            
            .cardposation {
                width: 120%;
                height: 100%;
            }
            
            .ach {
                display: flex;
                justify-content: center;
                flex-flow: row nowrap;
                align-content: space;
                gap: 5px;
                width: 50%;
            }
            
            .buttonac {
                width: 100%;
                background: red;
                color: white;
                outline: none;
                cursor: pointer;
                border: none;
                font-family: inherit;
                font-size: inherit;
                font-weight: 700;
                font-size: 30px;
                border-radius: 500px;
                overflow: hidden;
                text-decoration: none;
                height: 40%;
                width: 55%;
                margin: 10px;
                padding: 15px;
                display: inline-block;
                align-self: center;
            }
            
            .i {
                background-color: #ddd;
                width: 50%;
                height: 30%;
                padding: 5px;
                margin: 5px;
                border-radius: 20%;
                margin-top: 25px;
                text-align: center;
                flex-flow: column wrap;
            }
            
            .vertical-menu {
                width: 200px;
                /* Set a width if you like */
                margin-top: 70px;
                margin-right: 70%;
                display: flex;
                justify-content: center;
                flex-flow: column wrap;
            }
            
            .vertical-menu a {
                background-color: #eee;
                /* Grey background color */
                color: black;
                /* Black text color */
                display: block;
                /* Make the links appear below each other */
                padding: 10px;
                /* Add some padding */
                text-decoration: none;
                /* Remove underline from links */
                margin-right: 60%;
            }
            
            .vertical-menu a:hover {
                background-color: #ccc;
                border-left: 10px solid red;
                border-radius: 20%;
                /* Dark grey background on mouse-over */
            }
            
            .vertical-menu a.active {
                /* Add a green color to the "active/current" link */
            }